.row-item {
  margin-top: 50px;
}
.box-category {
  position: relative;
  border: 1px solid #e7e7e7;
  transition: all .35s ease;
  margin-top: 30px;
  .categories-controller {
    display: none;
  }
}
.box-name-category {
  height: 100%;
  background-color: white;
}
.box-category:hover {
  border: 1px solid #3c8dbc;
  transform: scale(1.05,1.05);
  webkit-transform: scale(1.05,1.05);
  .name-category {
    background-color: #3c8dbc;
    color: white;
    opacity: 0.9;
  }
  .categories-controller {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.name-category {
  text-align: center;
  position: absolute;
  line-height: 40px;
  font-size: 17px;
  color: black;
  z-index: 1;
  bottom: 0.5px;
  opacity: 0.6;
  background-color: white;
  width: 100%;
}

.modal-body {
  height: 200px;
}
.new-category {
  margin-top: 30px;
}
.category__name_field {
  line-height: 25px;
  width: 300px;
  border: 1px solid #3c8dbc;
}
.add-image {
  margin-top: 30px;
  color: #3c8dbc;
}
.btn-group-add-category  {
  margin-top: 10px;
  float: right;
  border-top: 1px solid #f4f4f4;
  width: 100%;

}
.btn-primary {
  margin-right: 10px;
}
